h1{
    font-family: sans-serif;
    font-weight: 100;
    font-size: 4em;
    border-bottom: 2px solid black;
}


p {
    font-family:sans-serif; 
    font-weight: 100;
    font-size: 1.4em;
    margin: 0 auto;
    padding: 0.7em;
}

/*
    This class formats the phone book to be centered on the page
*/
.wrapper{
    width: 50%;
    margin: 0 auto;
    margin-top: 2em;
    padding: 5em;
    opacity: .99;
    overflow: hidden;
 
}


ul {
    width: 20%;
    float: left;;
}

li {
    list-style: none;
}

button:focus {outline:0;}

button {
    margin: .7em auto;
    width: 100%;
    padding: 1.6em;
    font-family: sans-serif;
    background-color: #eee;
    box-shadow: 0 0 2px;
}

button:hover{
    background-color: #ddd;
    box-shadow: 0 0 3px;
}

button:active{
    background-color: #ccc;
    box-shadow: 0 0 2px;
}

/* this updates the div tag containing the actual contact information.  Formats the name, email, and phone lines to be nicely spaced */
#out { 
    float: left;
    padding: 3em;
    margin-left: 3em;
    width: 20%;
}
